
[submodule "yasem-core"]
	path = yasem-core
	url = https://github.com/mvasilchuk/yasem-core.git
[submodule "yasem-desktop-gui"]
	path = yasem-desktop-gui
	url = https://github.com/mvasilchuk/yasem-desktop-gui.git
[submodule "yasem-dunehd-api"]
	path = yasem-dunehd-api
	url = https://github.com/mvasilchuk/yasem-dunehd-api.git
[submodule "yasem-ini-datasource"]
	path = yasem-ini-datasource
	url = https://github.com/mvasilchuk/yasem-ini-datasource.git
[submodule "yasem-mag-api"]
	path = yasem-mag-api
	url = https://github.com/mvasilchuk/yasem-mag-api.git
[submodule "yasem-qtav-mediaplayer"]
	path = yasem-qtav-mediaplayer
	url = https://github.com/mvasilchuk/yasem-qtav-mediaplayer.git
[submodule "yasem-web-browser"]
	path = yasem-web-browser
	url = https://github.com/mvasilchuk/yasem-web-browser.git
[submodule "yasem-web-server"]
	path = yasem-web-server
	url = https://github.com/mvasilchuk/yasem-web-server.git
[submodule "yasem-qt-mediaplayer"]
	path = yasem-qt-mediaplayer
	url = https://github.com/mvasilchuk/yasem-qt-mediaplayer.git
[submodule "yasem-samsung-smarttv-api"]
	path = yasem-samsung-smarttv-api
	url = https://github.com/mvasilchuk/yasem-samsung-smarttv-api.git
[submodule "yasem-tray-icon"]
	path = yasem-tray-icon
	url = https://github.com/mvasilchuk/yasem-tray-icon.git
#[submodule "yasem-vlc-mediaplayer"]
#	path = yasem-vlc-mediaplayer
#	url = https://github.com/mvasilchuk/yasem-vlc-mediaplayer.git
[submodule "yase-core"]
	path = yase-core
	url = https://github.com/mvasilchuk/yasem-core.git
[submodule "yasem-vlc-mediaplayer"]
	path = yasem-vlc-mediaplayer
	url = https://github.com/mvasilchuk/yasem-vlc-mediaplayer.git
