
[submodule "yasem-core"]
	path = yasem-core
	url = https://github.com/mvasilchuk/yasem-core.git
[submodule "plugins/yasem-desktop-gui"]
	path = plugins/yasem-desktop-gui
	url = https://github.com/mvasilchuk/yasem-desktop-gui.git
[submodule "plugins/yasem-dunehd-api"]
	path = plugins/yasem-dunehd-api
	url = https://github.com/mvasilchuk/yasem-dunehd-api.git
[submodule "plugins/yasem-ini-datasource"]
	path = plugins/yasem-ini-datasource
	url = https://github.com/mvasilchuk/yasem-ini-datasource.git
[submodule "plugins/yasem-mag-api"]
	path = plugins/yasem-mag-api
	url = https://github.com/mvasilchuk/yasem-mag-api.git
[submodule "plugins/yasem-qtav-mediaplayer"]
	path = plugins/yasem-qtav-mediaplayer
	url = https://github.com/mvasilchuk/yasem-qtav-mediaplayer.git
[submodule "plugins/yasem-web-browser"]
	path = plugins/yasem-web-browser
	url = https://github.com/mvasilchuk/yasem-web-browser.git
[submodule "plugins/yasem-web-server"]
	path = plugins/yasem-web-server
	url = https://github.com/mvasilchuk/yasem-web-server.git
#[submodule "plugins/yasem-qt-mediaplayer"]
#	path = plugins/yasem-qt-mediaplayer
#	url = https://github.com/mvasilchuk/yasem-qt-mediaplayer.git
[submodule "plugins/yasem-samsung-smarttv-api"]
	path = plugins/yasem-samsung-smarttv-api
	url = https://github.com/mvasilchuk/yasem-samsung-smarttv-api.git
[submodule "plugins/yasem-tray-icon"]
	path = plugins/yasem-tray-icon
	url = https://github.com/mvasilchuk/yasem-tray-icon.git
#[submodule "plugins/yasem-api-server"]
#	path = plugins/yasem-api-server
#	url = https://github.com/mvasilchuk/yasem-api-server.git
#[submodule "plugins/yasem-vlc-mediaplayer"]
#	path = plugins/yasem-vlc-mediaplayer
#	url = https://github.com/mvasilchuk/yasem-vlc-mediaplayer.git
#[submodule "plugins/yasem-vlc-mediaplayer"]
#	path = plugins/yasem-vlc-mediaplayer
#	url = https://github.com/mvasilchuk/yasem-vlc-mediaplayer.git
